:root {
	/* Colors. */
	--black: #000;
	--white: #fff;
	--dark-gray: #999;
	--blue: #00009d;
	--red: #e30000;

	/* Sizes. */
	--img-width: 100px;
	--img-border-width: 1px;
	--img-margin: 2px;
	--margin: 12px;
	--board-width: calc((var(--img-width) + ((var(--img-border-width) + var(--img-margin)) * 2)) * 5);
}

/* var(--board-width) + (var(--margin) * 2) */
@custom-media --large-up (width >= 554px);

* {
	box-sizing: border-box;
}

html,
body,
#main {
	min-height: 100vh;
}

body {
	background: var(--dark-gray);
	font-family: Helvetica, Arial, sans-serif;
	margin: 0 var(--margin);
}

p {
	margin: var(--margin) auto 0;
}

#main {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#board {
	background: var(--white);
	border: 2px solid var(--black);
	margin: var(--margin) auto;
	max-width: var(--board-width);
	padding: calc(var(--img-margin) * 2);
	width: 100%;
}

.button {
	appearance: none;
	background: transparent;
	border: var(--img-border-width) dotted var(--dark-gray);
	border-radius: 0;
	cursor: pointer;
	font-size: 0;
	margin: var(--img-margin);
	padding: 0;
	position: relative;
}

.clicked {
	&::after {
		background: var(--red);
		border-radius: 360px;
		content: '';
		display: block;
		inset: 5%;
		opacity: 0.5;
		position: absolute;
	}
}

img {
	color: var(--white);
	height: auto;
	max-height: var(--img-width);
	max-width: var(--img-width);
	pointer-events: none;
	width: 100%;
}

#header,
#footer {
	background: var(--black);
	color: var(--white);
	width: 100%;
}

#title {
	font-size: 32px;
	font-weight: bold;
	line-height: 1;
	margin: 0 0 var(--img-margin);
	padding: 8px 12px 0;
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;

	@media (width >= 360px) {
		font-size: 48px;
		padding-top: 12px;
	}

	@media (width >= 430px) {
		font-size: 60px;
		padding-top: 14px;
	}

	@media (--large-up) {
		font-size: 76px;
		padding-top: 16px;
	}
}

#article {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}

#footer {
	border: 0;
	font-size: 16px;
	margin: var(--img-margin) 0 0;
	padding: 8px 4px;
	text-align: right;
}

#links {
	margin: var(--margin) auto;
}

.link {
	background: transparent;
	border: 1px solid;
	border-radius: 4px;
	color: var(--blue);
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	height: 44px;
	line-height: 44px;
	padding: 0;
	text-align: center;
	text-decoration: none;
	vertical-align: top;
	width: 100px;

	&:hover,
	&:active,
	&:focus {
		background: hsl(from var(--blue) h s l / 5%);
	}

	@media print {
		display: none;
	}
}

.link--secondary {
	color: var(--black);

	&:hover,
	&:active,
	&:focus {
		background: hsl(from var(--black) h s l / 5%);
	}
}

.link--delete {
	color: var(--red);

	&:hover,
	&:active,
	&:focus {
		background: hsl(from var(--red) h s l / 5%);
	}
}

#refresh {
	margin-right: 16px;

	.no-js & {
		display: none;
	}
}

.modal {
	background: var(--white);
	border: 2px solid var(--black);
	box-shadow: 4px 4px 0 0 hsl(from var(--black) h s l / 50%);
	color: var(--black);
	padding: 20px;

	&:focus {
		box-shadow: 4px 4px 0 0 hsl(from var(--black) h s l / 50%);
	}
}

.modal::backdrop {
	background: hsl(from var(--black) h s l / 50%);
}

.modal__box {
	& > :first-child {
		margin-top: 0;
	}
}

.modal__options {
	text-align: right;
}

:focus {
	box-shadow: 0 0 0 4px #6cf;
	outline: none !important; /* stylelint-disable-line declaration-no-important */
}
