<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta property="og:title" content="{{ title|metaTitle }}">
		<meta property="og:image" content="https://bingo.jennybelanger.com/share.png">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<title>{{ title|metaTitle }}</title>
		<link rel="icon" href="/favicon.svg">
		<link rel="manifest" href="/manifest.json">
		<link rel="stylesheet" href="/assets/css/style.min.css?20220322">
	</head>
	<body>
		<main id="main">
			{% block content %}{% endblock %}
		</main>
		<script src="/assets/js/functions.min.js?20220322"></script>
	</body>
</html>
