{{#> ../partials/layout}}
<noscript>This site requires Javascript to be enabled.</noscript>

<div id="board">
	<header id="header">
		<h1 id="title">Font Bingo</h1>
	</header>
	<article id="article"></article>
	<footer id="footer">bingo.jennybelanger.com</footer>
</div>

<div id="links">
	<button class="link" id="refresh" type="button">Refresh</button>
	<a class="link" href="https://github.com/jlbelanger/bingo/">GitHub</a>
</div>
{{/../partials/layout}}
